header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-inline: 1.5rem;
}
header ul{
    color: white;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
header ul li{
    text-decoration: none;
    list-style: none;
}
 header .logo img{
    width: 120px;
 }